@{
    ViewData["Title"] = "Email Confirmed";
}

<div class="text-center mt-5">
    <h2 class="text-success">Електронна пошта підтверджена!</h2>
    <p>Дякуємо за підтвердження вашої електронної пошти. Тепер ви можете увійти..</p>
    <a class="btn btn-primary" href="@Url.Action("Login", "Account")">Вхід</a>
</div>